#center	{
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	background: url("img/citypicture.JPG") no-repeat center center fixed;
	text-align: center;
	-webkit-background-size: cover;
}
.Powerjaxx {
	font-family: 'robonto', sans-serif;
	text-align: center;
	font-size: 60px;
	font-weight: 900;
	letter-spacing: 5px;
	text-shadow: 2px 2px #aaa;

}


.years {
	font-family: 'robonto', sans-serif;
	text-align: center;
	text-shadow: 2px 2px #aaa;
	font-size: 35px;

}	
